<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/library_management_system </property>
        <property name="connection.username">root</property>
        <property name="connection.password">Rootpass</property>

        <!-- Automatically create or update database schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Specify the dialect for your database -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Enable or disable showing SQL statements in the console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Specify the package(s) where your entity classes are located -->
        <mapping class="com.demo.Library_Management_System.entities.Member"/>
        <!-- Additional mappings can be included here -->

    </session-factory>
</hibernate-configuration>
